@font-face {
  font-family : Playfair_Display;
  src : url('C:\Users\pc\Downloads\Playfair_Display\PlayfairDisplay-VariableFont_wght.ttf');
}
body {
  font-family : Playfair_Display, 'Times New Roman';
}
#header {
  display : flex;
  width : 100%;
  align-items: center;
}
#header-img {
  width : 30px;
  height : 30px;
  margin-left : 10px;
}
#nav-bar {
  margin-left : 950px;
  position : fixed;
}
.nav-link {
  color : black;
  text-decoration : none;
  padding : 8px;
}
#form, main {
  text-align: center;
  margin : 40px 280px;
}
body {
  background-color : #feeada;
}

@media (max-width : 600px) {
  body {
    width : 100%;
  }
  #header {
    justify-content : center;
    margin-left : 290px;
    font-weight : bold;
  }
  
} 